:root {
  --random-color-appointment: #eeeeee;
  --background-color: #eeeeee;
  --hover-constant: 13px;
  --hover-multiplicator: 3.3;
  --standard-width: 150px;
}

body {
  background-color: var(--background-color);
}

/*ci-ca-calendar header*/
.header p {
  padding-top: 20px;
  height: 30%;
  font-size: 50px;
  text-align: center;
}

.change-date {
  width: var(--standard-width);
}

#monthBeforeBtn {
  margin-left: 20px;
  margin-right: 100px;
}

#monthAfterBtn {
  margin-left: 100px;
  margin-right: 20px;
}

#currentDate {
  font-size: 30px;
}

.menubtn {
  margin: 15px 5px 10px 5px;
}

.back,
#back,
#edit,
#submit {
  margin-left: 20px;
  margin-bottom: 15px;
}

/*day in month-view*/
#calendar > div {
  width: 150px;
  height: 150px;
  margin: 20px; /*or 30px*/
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
  border: 8px solid #0dab7f;
  background-color: var(--background-color);
  text-decoration: none;
  transition: all 0.4s ease 0s;
  position: relative;
  overflow-y: hidden;
}

#calendar > div > .eventDiv:first-child {
  margin-top: 4px;
  padding-top: 4px;
}

/*cloned day for hovered view*/
#hoverday {
  width: 150px;
  height: 150px;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
  border: 8px solid #0dab7f;
  background-color: var(--background-color);
  text-decoration: none;
  transition: all 0.4s ease 0s;
  z-index: 1;
  position: absolute;
  left: -8px;
  top: -8px;
}

/*hover animation*/
.onhover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.57);
  -webkit-transition: all 0.4s ease 0.2s;
  -moz-transition: all 0.4s ease 0.2s;
  -o-transition: all 0.4s ease 0.2s;
  transition: all 0.4s ease 0.2s;
}

#hoverday {
  width: calc(150px * 3.3);
  height: calc(150px * 3.3);
  border: calc(8px * 3.3) solid #0dab7f;
  left: calc((150px / 2) + ((-150px * 3.3) / 2) - 8px);
  top: calc((150px / 2) + ((-150px * 3.3) / 2) - 8px);
  background-color: var(--background-color);
  font-family: "Comic Sans MS", cursive, sans-serif;
  z-index: 2;
  overflow: auto;
  display: inline-block;
}

#hoverdaybody {
  margin: 0px 0px 15px 15px;
  vertical-align: middle;
  display: inline;
}

#hoverbodyheader {
  font-size: calc(20px * 3.5);
  text-align: center;
  border-bottom: 1px solid black;
}

#categoryField {
  width: 100px;
}

.eventDiv-hover {
  padding-left: 10px;
  text-align: left;
  vertical-align: middle;
  line-height: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  align-items: center;
  white-space: nowrap;
}

.eventDiv-hover > div {
  margin-left: 8px;
}

/*show the events*/
.evBlock {
  width: 8px;
  height: 8px;
  display: inline-block;
  background-color: var(--random-color-appointment);
  margin-right: 10px;
}

.eventDiv,
.eventDivList {
  padding-left: 10px;
  text-align: left;
  font-size: 13px;
  vertical-align: middle;
  line-height: 13px;
  padding-bottom: 3px;
}

/*Detailview and Editingview*/
#daybody {
  display: inline-block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: calc(150px * 3.5);
  height: calc(150px * 3.5);
  margin: auto;
  position: fixed;
  border: calc(8px * 3.5) solid #0dab7f;
  background-color: var(--background-color);
  font-family: "Comic Sans MS", cursive, sans-serif;
  z-index: 2;
  overflow: auto;
}

.detailview {
  margin: 0px 0px 15px 15px;
  vertical-align: middle;
  display: inline;
}

.inputf {
  width: 180px;
}

.apmnt {
  margin-top: 5px;
}

#namefield {
  width: 135px;
}
#timefield {
  width: 100px;
}

.ev #categoryField {
  width: 100px;
}

#entryline {
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}

#daybodyheader p {
  font-size: calc(20px * 3.5);
  text-align: center;
  border-bottom: 1px solid black;
}

#newStartTime {
  margin-left: 15px;
}

#newEndTime {
  margin-left: 15px;
}

.catCheckbox {
  height: 20px;
  width: 30px;
}

.eventDiv2 {
  font-size: 17px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.eventbtn {
  height: 17px;
  line-height: 17px;
  font-size: 13px;
  vertical-align: middle;
  margin-left: 15px;
  padding: 0 5px 0 5px;
}

/*Eventlist*/
#eventlist-content {
  margin-right: 100px;
}

.eventDivList {
  font-size: 20px;
  line-height: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;
}

#evBlockList {
  height: 12px;
  width: 12px;
}

#addbtnlist {
  width: 60px;
  height: 40px;
}

.eventDivList > div {
  margin-left: 8px;
}

#rembtnlist {
  margin-left: auto;
}

/*Button Styles*/
.btn-primary,
.btn-primary:visited,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  color: var(--background-color) !important;
  background-color: #0dab7f;
  border: none;
}

/*Date-Form-Placeholder-Fix*/
input[type="date"]:before {
  content: attr(placeholder) !important;
  color: var(--background-color);
  margin-right: 0.5em;
}

/*Time-Form-Placeholder-Fix*/
input[type="time"]:before {
  content: attr(placeholder) !important;
  color: var(--background-color);
  margin-right: 0.5em;
}
