body {
  background-color: #e0e0e0;
}

.header p {
  padding-top: 20px;
  height: 30%;
  font-size: 50px;
  text-align: center;
}

.month {
  text-align: center;
}

#calendar {
  /*sieht schöner aus, wenn weg und margin 30px*/
  padding-top: 70px;
  padding-right: 50px;
  padding-left: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.calendar > div {
  width: 150px;
  height: 150px;
  margin: 20px; /*or 30px*/
  text-align: center;
  font-size: 20px;
  border: 8px solid #0dab7f;

  text-decoration: none;
  transition: all 0.4s ease 0s;
}

.calendar > div:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
  transform: scale(3.5);
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  border: 0 none;
  background-color: #0dab7f;
}

.btn-primary:hover {
  border: 0 none;
  background-color: #0cc792;
}

/* Falls vergrößter Kalendertag angezeigt werden soll in verbindung mit javascript onclick
.styleZoom {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
  transform: scale(3.5);
  pointer-events: none;
}*/
