:root {
  --random-color-appointment: #e9e9e9;
}

body {
  background-color: #e9e9e9;
}

/*ci-ca-calendar header*/
#headline {
  text-align: center;
}

.header p {
  padding-top: 20px;
  height: 30%;
  font-size: 50px;
  text-align: center;
}

#MonthBeforeBtn {
  margin-right: 100px;
  width: 150px;
}

#MonthAfterBtn {
  margin-left: 100px;
  width: 150px;
}

#currentDate {
  font-size: 30px;
}

#detailview {
  display: block;
  margin: 20px auto 15px auto;
}

/*day in month-view*/
#calendar > div {
  width: 150px;
  height: 150px;
  margin: 20px; /*or 30px*/
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
  border: 8px solid #0dab7f;
  background-color: #e9e9e9;
  text-decoration: none;
  transition: all 0.4s ease 0s;
  position: relative;
}

/*cloned day for hovered view*/
#hoverday {
  width: 150px;
  height: 150px;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
  border: 8px solid #0dab7f;
  background-color: #e9e9e9;
  text-decoration: none;
  transition: all 0.4s ease 0s;
  z-index: 1;
  position: absolute;
  left: -8px;
  top: -8px;
}

/*hover animation*/
.onhover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.57);
  -webkit-transition: all 0.4s ease 0.2s;
  -moz-transition: all 0.4s ease 0.2s;
  -o-transition: all 0.4s ease 0.2s;
  transition: all 0.4s ease 0.2s;
  transform: scale(3.3);
}

#hoverdaybody {
  border: 1px solid red;
  transform: scale(calc(1 / 3.3));
  width: 150px;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

/*show the events*/
.evBlock {
  width: 8px;
  height: 8px;
  display: inline-block;
  background-color: var(--random-color-appointment);
  margin-right: 10px;
}

.eventDiv {
  padding-left: 10px;
  text-align: left;
  font-size: 13px;
  vertical-align: middle;
  line-height: 13px;
  padding-bottom: 3px;
}

/*Detailview*/
#daybody {
  display: inline-block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: calc(150px * 3.5);
  height: calc(150px * 3.5);
  margin: auto;
  position: fixed;
  border: calc(8px * 3.5) solid #0dab7f;
  background-color: #e9e9e9;
  font-family: "Comic Sans MS", cursive, sans-serif;
  z-index: 2;
}

.detailview {
  margin: 0px 0px 15px 15px;
  vertical-align: middle;
  display: inline;
}

.inputf {
  width: 180px;
}

.apmnt {
  margin-top: 5px;
}

#timefield {
  width: 110px;
}

#entryline {
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}

#daybodyheader p {
  font-size: calc(20px * 3.5);
  text-align: center;
  border-bottom: 1px solid black;
}

.eventDiv2 {
  font-size: 17px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.eventbtn {
  height: 17px;
  line-height: 17px;
  font-size: 13px;
  vertical-align: middle;
  margin: auto;
  margin-left: 15px;
  padding: 0 5px 0 5px;
}

/*Button Styles*/
.btn-primary,
.btn-primary:visited,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  color: #e9e9e9 !important;
  background-color: #0dab7f;
  border: none;
}

/*Date-Form-Placeholder-Fix*/
input[type="date"]:before {
  content: attr(placeholder) !important;
  color: #7e7e7e;
  margin-right: 0.5em;
}

/*Time-Form-Placeholder-Fix*/
input[type="time"]:before {
  content: attr(placeholder) !important;
  color: #7e7e7e;
  margin-right: 0.5em;
}
